<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/photo_album.png` | relURL }}" width="100" height="100" alt="Bootstrap">
        <h2 class="h2">Food Album<small class="d-none">🛡️</small></h2>
        <p>Come look at the food we've made so far! A homemade fusion from Taiwanese to Italian to Thai</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/sign_up.png` | relURL }}" width="100" height="100" alt="Bootstrap">

        <h2 class="h2">Come Eat with Us<small class="d-none">🚀</small></h2>
        <p>In order to enter the lottery, you will have to fill out a form! Fill out this form by Wednesday in order to have a chance to eat with us :)</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/about_us.png` | relURL }}" width="100" height="100" alt="Bootstrap">

        <h2 class="h2">About Us <small class="d-none">📈</small></h2>
        <p>Learn about how every now & then came to be. </p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Email list <small class="d-none">🦉</small></h2>
        <p>Join our email list so that you can be notified whenever we have our next popup.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Stats<small class="d-none">✨</small></h2>
        <p>If you want to see how many applied to each popup and some cool data distributions, click on me!</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Calendar <small class="d-none">🧰</small></h2>
        <p>If you want to see upcoming events for the whole semester, check out our calendar! No guarantees for any tentative dates though :p</p>
    </div>
</div>
